// Components - Breadcrumb
// This file defines styles for breadcrumb navigation.

:root {
	--byte-breadcrumb-padding-x: 0;
	--byte-breadcrumb-padding-y: 0;
	--byte-breadcrumb-margin-bottom: 1rem;
	--byte-breadcrumb-bg: transparent;
	--byte-breadcrumb-border-radius: 0;
	--byte-breadcrumb-divider-color: var(--byte-text-color-muted);
	--byte-breadcrumb-item-padding-x: 0.5rem; // Padding between items and divider
	--byte-breadcrumb-item-color: var(--byte-link-color);
	--byte-breadcrumb-active-color: var(
		--byte-text-color-base
	); // Current page color
}

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: var(--byte-breadcrumb-padding-y) var(--byte-breadcrumb-padding-x);
	margin-bottom: var(--byte-breadcrumb-margin-bottom);
	list-style: none;
	background-color: var(--byte-breadcrumb-bg);
	border-radius: var(--byte-breadcrumb-border-radius);
}

.breadcrumb-item {
	// No specific styling for the li itself, li is just a container for the link
	+ .breadcrumb-item {
		padding-left: var(--byte-breadcrumb-item-padding-x); // Space before divider

		&::before {
			float: left;
			padding-right: var(--byte-breadcrumb-item-padding-x);
			color: var(--byte-breadcrumb-divider-color);
			content: var(--byte-breadcrumb-divider, '/'); // Default divider is '/'
		}
	}

	a {
		color: var(--byte-breadcrumb-item-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.active {
		color: var(--byte-breadcrumb-active-color);
		text-decoration: none;
		pointer-events: none; // Disable clicking on active item
	}
}
