// Components - Navs (Tabs & Pills)
// This file defines styles for navigation components like tabs and pills.
// Requires JavaScript to toggle active states if used for dynamic content.

:root {
	--byte-nav-link-padding-x: 1rem;
	--byte-nav-link-padding-y: 0.5rem;
	--byte-nav-link-font-size: var(--byte-font-size-base);
	--byte-nav-link-color: var(--byte-text-color-base);
	--byte-nav-link-hover-color: var(--byte-link-hover-color);
	--byte-nav-link-disabled-color: var(--byte-text-color-muted);

	// Tabs specific
	--byte-nav-tabs-border-color: var(--byte-border-color-base);
	--byte-nav-tabs-border-width: var(--byte-border-width);
	--byte-nav-tabs-link-hover-border-color: var(--byte-border-color-hover);
	--byte-nav-tabs-link-active-color: var(--byte-color-primary);
	--byte-nav-tabs-link-active-bg: var(--byte-background-color-base);
	--byte-nav-tabs-link-active-border-color: var(--byte-color-primary)
		var(--byte-color-primary) var(--byte-background-color-base);

	// Pills specific
	--byte-nav-pills-link-active-color: var(--byte-color-white);
	--byte-nav-pills-link-active-bg: var(--byte-color-primary);
}

.nav {
	display: flex;
	flex-wrap: wrap; // Allows items to wrap
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block; // For full click area
	padding: var(--byte-nav-link-padding-y) var(--byte-nav-link-padding-x);
	font-size: var(--byte-nav-link-font-size);
	font-weight: 400;
	color: var(--byte-nav-link-color);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;

	&:hover,
	&:focus {
		color: var(--byte-nav-link-hover-color);
		text-decoration: none;
	}

	&.disabled {
		color: var(--byte-nav-link-disabled-color);
		pointer-events: none;
		cursor: default;
	}
}

// Nav Tabs
.nav-tabs {
	border-bottom: var(--byte-nav-tabs-border-width) solid
		var(--byte-nav-tabs-border-color);

	.nav-item {
		margin-bottom: calc(
			var(--byte-nav-tabs-border-width) * -1
		); // Overlap border
	}

	.nav-link {
		border: var(--byte-nav-tabs-border-width) solid transparent;
		border-top-left-radius: var(--byte-border-radius);
		border-top-right-radius: var(--byte-border-radius);

		&:hover,
		&:focus {
			border-color: var(--byte-nav-tabs-link-hover-border-color);
			// border-color: var(--byte-nav-tabs-link-hover-border-color) var(--byte-nav-tabs-link-hover-border-color) var(--byte-nav-tabs-border-color);
			isolation: isolate; // To fix border overlap issues
		}

		&.active {
			color: var(--byte-nav-tabs-link-active-color);
			background-color: var(--byte-nav-tabs-link-active-bg);
			border-color: var(--byte-nav-tabs-link-active-border-color);
		}
	}
}

// Nav Pills
.nav-pills {
	.nav-link {
		border-radius: var(--byte-border-radius); // Default button-like shape

		&.active {
			color: var(--byte-nav-pills-link-active-color);
			background-color: var(--byte-nav-pills-link-active-bg);
		}
	}
}
